.login-body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff; /* White background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72.5vh;
}

.login-container {
    background: #333333; /* Dark grey background for the container */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 50px;
    text-align: center;
    color: #ffffff; /* Text color set to white */
    align-items: center;
    
}

h2 {
    margin-bottom: 20px;
    color: #ffffff; /* White color for headings */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #444444; /* Darker grey for input fields */
    color: #ffffff; /* White text color for input fields */
}

input::placeholder {
    color: #bbbbbb; /* Light grey for placeholder text */
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.toggle {
    margin-top: 15px;
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

.toggle:hover {
    color: #0056b3;
}